.container
  = render 'shared/side_bar'
  .chat
    .chat__header
      .chat__header-group-info
        %p.chat__header-group-title
          テストグループ
        %p.chat__header-group-member
          テストグループ:テストユーザー
      %a.chat__header-edit-button
        Edit
    .chat__content
      .chat__content-message-list
        .chat__content-message
          %p.chat__content-message-name
            テストユーザー
            %span.chat__content-message-time
              2018/10/17 00:00:00
          %p.chat__content-message-body
            テスト
    .chat__footer
      .chat__footer-form
        %input.message{ placeholder: "type a message", type: "text"}
        %label.upload-label{for: "upload-icon"}
          = fa_icon "picture-o",class: 'send-icon'
          %input{ type: "file", id: "upload-icon"}
      %input.chat__footer-send-button{ type: "submit", value: "Send"}

